/**
* Fonts
**/
.palatino {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif !important;
}

.times-new-roman {
    font-family: "Times New Roman", Times, serif !important;
}

.helvetica-neue {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
}

.lucida-sans {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif !important;
}

.courier-new {
    font-family: "Courier New", Courier, monospace !important;
}

.lucida-console {
    font-family: "Lucida Console", Monaco, monospace !important;
}

.standard-font {
    font-family:BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/**
* Navigation
**/

.nav-text{
    margin-left: 10px;
    margin-right: 10px;
}

.lib-list {
    padding-bottom: 15px;
}
.lib-list:hover {
    background-color: #dcdcdc;
}
.lib-list a:hover {
    background-color: #0fb8ad;
}

#section-sign{
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.center-card{
    margin: auto;
    width: 50%;
}

.about-tabs{
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 10%;
    background-color: #00D1B2;
    color: #FFFFFF;
}

.title-bar > .title {
    color: #FFFFFF;
    padding-bottom: 10px;
}


.about-subtitle {
    padding-top: 30px;
    font-weight: bold;
}

.title-bar{
    margin-bottom: auto;
    padding: auto;
    padding-top: 25px;
    width: 100%;
    background-color: #00D1B2;
    text-align: center;
}

.tabs-text {
    color: white;
}

.is-active .tabs-text{
    color: black;
}
.tabs.is-boxed a:hover{
    background-color: gray;
}
.tabs.is-boxed a:hover > * {
   color: #00D1B2;
}

#open {
    color: #96d885;
}

#closed {
    color: red;
}

/**
* Gallery Controls
**/
.btn{
    margin: 0 auto;
    display: inline-block;
    border-radius: 10%;
    box-shadow:
            0px 7px 12px 0px rgba(0, 0, 0, .3),
            inset 0px 4px 1px 1px white,
            inset 0px -3px 1px 1px rgba(204,198,197,.5);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.btn:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.btn:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.selected {
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.btn span{
    display: inline-block;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    text-align: center;
    color: #3A474D;
    font-weight: 700;
    font-size: 24px;
    text-shadow:0px -1px 1px #bdb5b4;
}

.btn span:hover {
    color: #00D1B2;
    cursor: pointer;
    text-shadow: 0px 1px 1px #00FFFF;
}
.button:active span{
    -webkit-transform: translate(0, 5px);
}

.selected span {
    color: #00D1B2;
    text-shadow: 0px 1px 1px #00FFFF;
    -webkit-transform: translate(0, 5px);
}
/**
* jQueryUI customization
**/

.ui-accordion-header {
    border-color: #00D1B2;
    color: black;
}

.ui-accordion-header.ui-state-active {
    background-color: #00D1B2;
    border-color: #00D1B2;
    color: white;
}

.menu-list li > a.is-active {
    background-color: #00D1B2;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
}

/*
* Home Screen
*/
.box {
    height: 100% !important;
    position: relative;
}

.fullheight {
    height: 100%;
}

.progress {
    margin-bottom: 5px !important;
}

.create-progress {
    width: 95%;
    position: absolute;
    bottom: 0px;
    left: 2%;
}

.create-nav {
    color: black;
    alignment: center;
    padding-top: 40%;
    padding-right: 0px;
    padding-left: 0px;
}

.colorpicker {
    position: absolute;
    width: 20%;
    left: 7%;
}

.chevron-btn {
    cursor: pointer;
}

.chevron-btn:hover {
    color: #00D1B2;
}

/**
* Music Player
**/

#volume {
    padding-left: 25px;
    padding-top: 12px;
}

#progressbar-one {
    width: 97%;
    height: 40%;
    margin-left: 25px;
    background-color: #BABABA;
}

#progressbar-two {
    height: 100%;
    width: 0%;
    background-color: #00D1B2;
}


.player-controls {
    margin-top: 7px;
}

.player-controls span {
    cursor: pointer;
}
.player-controls span:hover {
    color: #00D1B2;
}

#time-left {
    margin-top: 7px;
    margin-left: 25px;
    text-align: left;
}

#time-right {
    margin-top: 7px;
    margin-right: 7px;
    text-align: right;
}

/**
* SVG
**/

#svg-container {
    position: relative;
    height: 0;
    width: 100%;
    padding: 0;
    padding-bottom: 75%;
    padding-bottom: 75%;
}
.svg-scaling {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

/**
* Home - Music - Table
**/
#music-table-body tr {
    cursor: pointer;
}
