.nav-text{
    margin-left: 10px;
    margin-right: 10px;
}

.lib-list {
    padding-bottom: 15px;
}
.lib-list:hover {
    background-color: #dcdcdc;
}
.lib-list a:hover {
    background-color: #0fb8ad;
}

#section-sign{
    font-size: large;
    font-weight: bold;
    padding-bottom: 5px;
}

.center-card{
    margin: auto;
    width: 50%;
}

.about-tabs{
    margin-bottom: auto;
    padding-top: 50px;
    padding-left: 10%;
    background-color: #00D1B2;
    color: #FFFFFF;
}

.title-bar > .title {
    color: #FFFFFF;
    padding-bottom: 10px;
}


.about-subtitle {
    padding-top: 30px;
    font-weight: bold;
}

.title-bar{
    margin-bottom: auto;
    padding: auto;
    padding-top: 25px;
    width: 100%;
    background-color: #00D1B2;
    text-align: center;
}

.tabs-text {
    color: white;
}

.is-active .tabs-text{
    color: black;
}
.tabs.is-boxed a:hover{
    background-color: gray;
}
.tabs.is-boxed a:hover > * {
   color: #00D1B2;
}

#open {
    color: #96d885;
}

#closed {
    color: red;
}


.btn{
    margin: 0 auto;
    display: inline-block;
    border-radius: 10%;
    box-shadow:
            0px 7px 12px 0px rgba(0, 0, 0, .3),
            inset 0px 4px 1px 1px white,
            inset 0px -3px 1px 1px rgba(204,198,197,.5);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.btn:hover{
    background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
    background-image: linear-gradient(top, #fff, #f4f1ee);
    color:#0088cc;
}

.btn:active{
    background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
    background-image: linear-gradient(top, #efedec, #f7f4f4);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.btn span{
    display: inline-block;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    text-align: center;
    color: #3A474D;
    font-weight: 700;
    font-size: 24px;
    text-shadow:0px -1px 1px #bdb5b4;
}

.btn span:hover {
    color: #00D1B2;
    cursor: pointer;
    text-shadow: 0px 1px 1px #00FFFF;
}
.button:active span{
    -webkit-transform: translate(0, 5px);
}

.ui-accordion-header {
    border-color: #00D1B2;
    color: black;
}

.ui-accordion-header.ui-state-active {
    background-color: #00D1B2;
    border-color: #00D1B2;
    color: white;
}

.menu-list li > a.is-active {
    background-color: #00D1B2;
}
/*
.menu-list li {
    background-color: #95A5A6;
    color: white;
    margin-bottom: 1px;
}

.menu-list > li > ul > li {
    margin-bottom: 1px;
}

.menu-list  li > a:hover {
    background-color: grey;
}

.menu-list > li > a {
    color:white;
}
*/