.logo-spin {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    perspective: 1000px;
}